.slide {
    overflow-y: hidden !important;

}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding-left: 3em;

}

.nav a, .nav-toggle {
    color: #333;
}

.nav a:active, a:hover {
  color: white;
}

.nav-toggle {
    display: none;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;

    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float:none;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor:pointer;
    }
}
