


<header>
{% include 'incl/nav.twig' %}
<body>
{% include 'incl/header.twig' %}
</header>

    <div class="main" role="main">
      <div class="section">{{ content }}</div>
    </div>
    <footer>{% include 'incl/footer.twig' %}</footer>

</body>

</html>
